{% load static %}
<html>
    <head>
        <title>Sam Barrett Bridging coursework Blog</title>
        {% comment %} <link rel="stylesheet" href="//maxcdn.bootsVtrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> {% endcomment %}
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <style>
        ul.special{
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: large;
            text-align: center;
        }
        li.special{
            display: inline 
        }
</style>
    </head>
    <body>
    <div class="page-header">
        <h1><a href="/">Sam Barrett Bridging coursework Blog</a></h1>
    </div>
    <div id="nav-bar" class="nav-bar">
        <ul class="special">
           <li ><a id="home_button" href="/">Home</a></li>
           <li><a id="cv_button" href="/cv">My CV</a></li>
        </ul> 
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
