{% extends 'blog/base.html' %}
{% block content %}
        <div class="CV">
            <div class="revision_date">
                {{ cv.last_updated}}
            </div>
            <div class="name"> {{ cv.name }} </div>
            <div class="address"> {{ cv.address }} </div>
            <div class="phone_number"> {{ cv.phone_number }} </div>
            <div class="email_address"> {{ cv.email_address }} </div>

            <div class="tech_skills"> 
                <h1> Tech Skills </h1>
                <ul>
                {% for skill in cv.tech_skills %}
                    <div class="tech_skill"> <li><a href="/cv/skill/{{skill.skill_id}}"> {{ skill.title }}</li> </div>
                {% endfor %}
                </ul>
            </div>

            <div class="eduation">
                <h1> Education </h1>
                <h2> University Modules </h2>
                <ul>
                {% for course in cv.university_modules %} 

                   <div class="Course">
	                <li><a href="/cv/course/{{ course.course_id }}">{{ course.title }}</a></li>
                    </div>
                {% endfor %}

                </ul>
                {% for section, subsection in cv.education.items  %}
                <div class="section">
                    <h2> {{ section }} </h2>
                    <ul>
                            {% for course, grade in subsection.items %}
                                <div class="course"> <li>{{ course }}: {{ grade }}</li></div>
                            {% endfor %}
                        </div> 
                    </ul>
                {% endfor %}

                <h2> Miscellaneous </h2>
                <ul>
                {% for course in cv.misc_modules %} 

                   <div class="">
	                <li><a href="/cv/course/{{ course.course_id }}">{{ course.title }}</a></li>
                    </div>

                {% endfor %}
                </ul>
            </div>

        </div>
{% endblock %}
