{% extends 'blog/base.html' %}
{% block content %}
        <div class="CV">
            <div class="revision_date">
                {{ cv.last_updated}}
            </div>
            <div class="name"> {{ cv.name }} </div>
            <div class="address"> {{ cv.address }} </div>
            <div class="phone_number"> {{ cv.phone_number }} </div>
            <div class="email_address"> {{ cv.email_address }} </div>

            <div class="tech_skills"> 
                <h1> Tech Skills </h1>
                <ul>
                {% for skill in cv.tech_skills %}
                    <div class="tech_skill"> <li>{{ skill }}</li> </div>
                {% endfor %}
                </ul>
            </div>

            <div class="eduation">
                <h1> Education </h1>
                {% for section, subsection in cv.education.items  %}
                <div class="section">
                    <h2> {{ section }} </h2>
                    <ul>
                            {% for course, grade in subsection.items %}
                                <div class="course"> <li>{{ course }}: {{ grade }}</li></div>
                            {% endfor %}
                        </div> 
                    </ul>
                {% endfor %}
            </div>

        </div>
{% endblock %}
